<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Novi vic</title>
</head>
<body>
    <form th:action="@{/addJoke}" th:object="${jokeIncoming}" method="post">
        <input type="text" th:field="*{content}" />
        <select th:field="*{categoryId}" >
            <option th:each="cat : ${categories}" th:value="${cat.id}" th:text="${cat.name}"></option>
        </select>
        <input type="submit" value="Dodaj" >
    </form>
    <span th:if="${error != null}" th:text="${error}" style="color:red">Static summary</span>
</body>
</html>